@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

}

@layer utilities {
  padding {
    @apply xl:px-24 xl:py-20 lg:px-20 lg:py-16 sm:px-10 px-6 sm:py-14 py-8;
  }

  .padding-x {
    @apply xl:px-24 lg:px-20 sm:px-10 px-6;
  }

  .padding-y {
    @apply xl:py-20 lg:py-16 sm:py-14 py-8;
  }

  .padding-t {
    @apply xl:pt-20 lg:pt-16 sm:pt-14 pt-8;
  }

  .padding-b {
    @apply xl:pb-20 lg:pb-16 sm:pb-14 pb-8;
  }

  .padding-l {
    @apply xl:pl-24 lg:pl-20 sm:pl-10 pl-6;
  }

  .padding-r {
    @apply xl:pr-24 lg:pr-20 sm:pr-10 pr-6;
  }
}